# Database configuration
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_horarios_udl

# Application ports
APP_PORT=5000          # Main Flask API
IAM_PORT=5001          # IAM micro‑service API
CATALOG_PORT=5002      # Catalog micro‑service API
BOOKING_PORT=5003      # Booking micro-service API
CATALOG_REQUEST_TIMEOUT=5

# Security
JWT_SECRET_KEY=your-secret-key-here-change-in-production

DEBUG=True
HOST=0.0.0.0
